* {
    text-align: center;
    margin: 0px;
    background-color: rgb(121, 201, 174);
    font-family: monospace;
  }


  @font-face {
    font-family: dice;
    src: url(fonts/Dice.ttf);
  }

  button {
    position: absolute;
    background-color: rgb(221, 235, 234);
    border: 12px solid rgb(148, 148, 148); 
    border-radius: 4px;
    border-style: outset;
    color: rgb(19, 19, 19);
    padding: 10px;
    font-size: 30px;
    text-transform: uppercase;
    width: 300px;
    height: 75px;
    left: 50%;
    top: 70%;
    margin: 0 0 0 -150px;
    cursor: none;
  }
  button:hover{
    font-weight: bold;
    font-size: 30px;
  }
  button:active{
    border-style: outset;
    border: 6px solid rgb(110, 110, 110); 
  }
  #placeholder {
    filter:invert(100%);
    text-align:left;
    text-indent: -54px;
    line-height: 0.59;
    font-family: dice;
    color: rgb(5, 5, 5);
    background-color: beige;
    position: absolute;
    height: 100px;
    width: 100px;
    padding: 50px;
    top: 25vh;
    left: 21vw;
    margin: -100px 0 0 -100px;
    border: 28px solid rgb(53, 53, 47);
    border-style:outset;
    border-radius: 10px;  
    font-size:285px;
  }
  #placeholder2 {
    filter:invert(100%);
    text-align:left;
    text-indent: -54px;
    line-height: 0.59;
    font-family: dice;
    color: rgb(15, 15, 14);
    background-color: beige;
    position: absolute;
    height: 100px;
    width: 100px;
    padding: 50px;
    top: 25vh;
    left: 75vw;
    margin: -100px 0 0 -100px;
    border: 28px solid rgb(53, 53, 47);
    border-style:outset;
    border-radius: 10px;  
    font-size:285px;
  }
  
  #hpPY{
    position: absolute;
    width: 256px;
    height: 28px;
    top: 45vh;
    left: 21vw;
    margin: 0 0 0 -100px;
  }
  #hpPC{
    position: absolute;
    width: 256px;
    height: 28px;
    top: 45vh;
    left: 75vw;
    margin: 0 0 0 -100px;
  }
  .hptxt{
    font-size: 24px;
    font-family:monospace;
  }
  .hptxt#hptxtPY{
    position: absolute;
    top: 48.1vh;
    left: 21vw;
  }
  .hptxt#hptxtPC{
    position:absolute;
    top: 48.1vh;
    left: 75vw;
  }
  #skor{
    position:absolute;
    background-color: rgb(240, 240, 240);
    height: 50px;
    width: 120px;
    left: 50%;
    top: 10%;
    margin: -25px 0 0 -75px;
    border: 16px inset rgb(184, 184, 184);
    border-radius: 5px;
    font-weight: bold;
    font-size: 26px;
  }
  #winner{
    position: absolute;
    background-color: rgb(204, 204, 204);
    border: 4px solid rgb(156, 156, 156); 
    border-radius: 4px;
    border-style: inset;
    color: rgb(94, 93, 93);
    width: 180px;
    height: 20px;
    left: 50%;
    top: 65%;
    margin: 0 0 0 -90px;
  }